<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <div class="form-group row mt-2">
      <div class="col-sm-6">
        <h3>
          <small class="text-body-secondary"><i class="fa fa-file" aria-hidden="true"></i> Driver Creation</small>
        </h3>
      </div>
      <div class="col-sm-2 offset-4">
      </div>
    </div>
    <hr>
      <div class="form-group row mt-2">
        <label for="name" class="col-sm-2 col-form-label">Driver Name</label>
        <div class="col-sm-4">
          <input type="text"
          name="name" 
          required
          [(ngModel)]="model.name"
          class="form-control" 
          id="firstName" 
          placeholder="Driver Name" #name="ngModel">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert-warning">
            <div *ngIf="name.errors?.['required']">
              Driver Name is required.
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-success " type="submit" [disabled]="registerForm.invalid">Save</button>
        </div>
        </div>

        
    </form>